<div class="mat-app-background">
  <div class="container">
    <h2 i18n="title Graph@@Title_graph" style="margin-top: 1%;">
      Graphs
    </h2>
    <button mat-button mat-icon-button matPrefix aria-label="Back" (click)="back_to_selection()">
      <mat-icon>keyboard_return</mat-icon>
      <span i18n="Go back to selection@@return-button">Go back to selection</span>
    </button>

    <p *ngIf=" boxSelected === null " i18n="description graph group@@description_graph_group">
      You are currently viewing the data of the <strong>{{group_name}}</strong> group boxes.
    </p>
    <p *ngIf=" boxSelected !== null " i18n="description graph box@@description_graph_box">
      You are currently viewing the data of <strong>{{boxSelected}}</strong> device.
    </p>

    <div *ngFor="let query of queryList">
      <div *ngIf="graphs_records.hasOwnProperty(query)">
        <h4>
          {{ metricAlternativeName[userInformation.role][query] === undefined
          ? query + "[NOT TRANSLATED]"
          : metricAlternativeName[userInformation.role][query][lang]}}
        </h4>
        <div style="max-width: 100;">
          <div id="increment" class="time_opt">
            <!-- increment section -->
            <mat-form-field *ngIf="this.graphs_records[query].m_chart_date_picker === 'range_type'" class="form">
              <button mat-button mat-icon-button matPrefix aria-label="Remove" [color]="primary"
                (click)="incrementValue(query, -step)" [disabled]="shouldDisableDecrement(_value)">
                <mat-icon>remove</mat-icon>
              </button>
              <input matInput type="number" class="counter" [(ngModel)]="graphs_records[query].t_value"
                (ngModelChange)="time_value_changes(query)" min="1" oninput="validity.valid||(value='1');" />
              <button mat-button mat-icon-button matSuffix aria-label="Add" [color]="primary"
                (click)="incrementValue(query, step)" [disabled]="shouldDisableIncrement(_value)">
                <mat-icon>add</mat-icon>
              </button>
            </mat-form-field>

            <!-- Unit section -->
            <mat-form-field *ngIf="this.graphs_records[query].m_chart_date_picker === 'range_type'" appearance="legacy"
              class="form">
              <mat-label i18n="title unit options|title unit options@@title_unit_options_time_selection_graph">
                Unit options
              </mat-label>
              <mat-select [(ngModel)]="graphs_records[query].t_unit" placeholder="Unit" [disabled]="unitSelect.value"
                (ngModelChange)="unit_selection_changes(query)">
                <mat-option value="minute"
                  i18n="minute unit option|minute unit option for time range selection@@minute_unit_time_selection_graph">
                  minute
                </mat-option>
                <mat-option value="hour"
                  i18n="hour unit option|hour unit option for time range selection@@hour_unit_time_selection_graph">
                  hour
                </mat-option>
                <mat-option value="day"
                  i18n="day unit option|day unit option for time range selection@@day_unit_time_selection_graph">
                  day
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- Date time section - Range selector -->
            <form novalidate [formGroup]="formGroup" class="form" id="datetime"
              *ngIf="!graphs_records[query].t_now && this.graphs_records[query].m_chart_date_picker === 'range_type'">
              <mat-form-field>
                <mat-placeholder
                  i18n="'until' text date selection | 'until' text in time range selection@@text_until_date_selection_time_selection_graph">
                  Until
                </mat-placeholder>
                <input matInput formControlName={{query}} [matDatetimepicker]="dts" required autocomplete="false"
                  [disabled]="graphs_records[query].t_now">
                <mat-datetimepicker-toggle [for]="dts" matSuffix></mat-datetimepicker-toggle>
                <mat-datetimepicker #dts type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
              </mat-form-field>
            </form>

            <!-- Now slide toggle -->
            <!-- The value is updating correctly BUT w/o visual changes (still unchecked) -->
            <mat-slide-toggle *ngIf="!isMobile && this.graphs_records[query].m_chart_date_picker === 'range_type'"
              [(ngModel)]="graphs_records[query].t_now" style="align-self: center; margin-left: 1%; margin-right: 1%;"
              (change)="on_slide_toggle_change($event, query)" color="primary" labelPosition="before"
              i18n-matTooltip="tooltip date selection@@tooltip_date_selection_time_selection_graph"
              matTooltip="Switch between now and a selected date time">
              <span i18n="'now' text|'now' text in time range selection@@text_now_time_selection_graph"
                *ngIf="graphs_records[query].t_now">
                Now
              </span>
            </mat-slide-toggle>

            <!-- Date time section - Day selector -->
            <mat-form-field *ngIf="this.graphs_records[query].m_chart_date_picker === 'day_type'" appearance="fill">
              <mat-label i18n="'Choose a date' text | 'Choose a date' text in day selector@@text_choose_a_date_graph">
                Choose a date
              </mat-label>
              <input matInput [matDatepicker]="picker" [max]="maxDate" [(ngModel)]="selectedDay"
                (dateInput)="time_value_changes(query);">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <!-- Refresh -->
            <button mat-button (click)="regenerate(query)"
              i18n-matTooltip="tooltip refresh chart @@tooltip_refresh_time_selection_graph" matTooltip="Refresh"
              class="icon_button">
              <mat-icon>cached</mat-icon>
            </button>

            <!-- Reset settings -->
            <button *ngIf="!isMobile" mat-button (click)="set_default_settings(query)"
              i18n-matTooltip="tooltip restore default|tooltip of button which restore default settings@@tooltip_restore_default_time_selection_graph"
              matTooltip="Restore default values" class="icon_button">
              <mat-icon>restore</mat-icon>
            </button>

            <!-- Hide curves -->
            <button *ngIf="!this.graphs_records[query].m_hidden" mat-button (click)="hide_lines(query)"
              i18n-matTooltip="tooltip Hide all curves@@tooltip_hide_all_curves_time_selection_graph"
              matTooltip="Hide all curves" class="icon_button">
              <mat-icon>visibility_off</mat-icon>
            </button>

            <!-- Show curves -->
            <button *ngIf="this.graphs_records[query].m_hidden" mat-button (click)="hide_lines(query)"
              i18n-matTooltip="tooltip Show all curves@@tooltip_show_all_curves_time_selection_graph"
              matTooltip="Show all curves" class="icon_button">
              <mat-icon>visibility</mat-icon>
            </button>

            <!-- Stack lines -->
            <button *ngIf="false === this.graphs_records[query]['m_stacked']" mat-button
              (click)="switch_stack_lines(this.graphs_records[query])"
              i18n-matTooltip="tooltip Stack lines@@tooltip_stacked_lines_graph" matTooltip="Stack lines"
              class="icon_button">
              <mat-icon>stacked_line_chart</mat-icon>
            </button>

            <!-- Unstack lines -->
            <button *ngIf="this.graphs_records[query]['m_stacked']" mat-button
              (click)="switch_stack_lines(this.graphs_records[query])"
              i18n-matTooltip="tooltip Unstack lines@@tooltip_unstacked_lines_graph" matTooltip="Unstack lines"
              class="icon_button">
              <mat-icon>multiline_chart</mat-icon>
            </button>

            <!-- Select a specific IP -->
            <mat-form-field *ngIf="false === !this.graphs_records[query].m_request_IPs.length" appearance="fill">
              <mat-label>IP</mat-label>
              <mat-select [formControl]="this.graphs_records[query]['m_selected_IPs']" multiple
                (selectionChange)="showLegendSelected(this.graphs_records[query], graphLegends.get(query), query)">
                <mat-option *ngFor="let ip of this.graphs_records[query]['m_request_IPs']" [value]="ip">{{ip}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- Select a specific Service -->
            <mat-form-field *ngIf="false === !this.graphs_records[query]['m_request_services'].length"
              style="margin-left: 20px;" appearance="fill">
              <mat-label>Service</mat-label>
              <mat-select [formControl]="this.graphs_records[query]['m_selected_services']" multiple
                (selectionChange)="showLegendSelected(this.graphs_records[query], graphLegends.get(query), query)">
                <mat-option *ngFor="let service of this.graphs_records[query]['m_request_services']" [value]="service">
                  {{service}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- remove metric -->
            <button *ngIf="!isMobile" mat-button (click)="delete(query)"
              i18n-matTooltip="tooltip Remove this metric@@tooltip_remove_this_metric_time_selection_graph"
              matTooltip="Remove this chart" class="icon_button">
              <mat-icon>power_settings_new</mat-icon>
            </button>

          </div>
        </div>
        <div style="min-width: 100%; min-height: 100%; margin-bottom: 2%;">
          <canvas id={{query}} width="800" height="400"></canvas>
          <div *ngIf="this.graphs_records[query].m_tooltip as tooltip" class="tooltip" [ngStyle]="this.graphs_records[query].m_chart.canvas 
          && { 'left': tooltip.caretX + 'px' , 
          'top' : this.graphs_records[query].m_chart.canvas.offsetTop + tooltip.caretY + 'px' , 
          'opacity' : tooltip.opacity}">
            <table style="display: inline-table;">
              <thead>
                <tr *ngFor="let title of tooltip.title">
                  <th [ngSwitch]="title.switchCase">
                    <span *ngSwitchCase="'Src_To_Dest'">
                      {{title.src}} -> {{title.dest}}
                    </span>
                    <div *ngSwitchCase="'FullDate'">
                      {{title.date}}
                    </div>
                    <div *ngSwitchDefault>
                      <div *ngIf="isString(title); else no_match">{{title}}</div>
                      <ng-template #no_match i18n="'No match' text | 'No Match' text in tooltip@@text_no_match_tooltip">
                        No match : error during tooltip processing
                      </ng-template>
                    </div>
                  </th>
                </tr>
              </thead>

              <tbody *ngFor="let dataset of tooltip.body; let i = index">
                <tr *ngFor="let beforeLine of dataset.before">
                  <td [ngSwitch]="beforeLine.switchCase">
                    <div *ngSwitchCase="'Port'">
                      <span i18n="'port' text | 'port' text in chart beforeLabel tooltip@@text_port_tooltip">
                        Port
                      </span> : {{beforeLine.port}}
                    </div>
                    <div *ngSwitchDefault>
                      <div *ngIf="isString(beforeLine); else no_match">{{beforeLine}}</div>
                      <ng-template #no_match i18n="'No match' text | 'No Match' text in tooltip@@text_no_match_tooltip">
                        No match : error during tooltip processing
                      </ng-template>
                    </div>
                  </td>
                </tr>

                <tr *ngFor="let line of dataset.lines">
                  <td [ngSwitch]="line.switchCase">
                    <div *ngSwitchCase="'Start_Duration'">
                      <span [ngStyle]="{ 'background-color' : line.color}" class="lineColorContainer"></span>
                      {{line.start | timestampToDate : line.format}}
                    </div>
                    <div *ngSwitchCase="['Volume', 'Time', 'Number'].includes(line.switchCase) ? line.switchCase :
                      !line.switchCase">
                      <span [ngStyle]="{ 'background-color' : tooltip.labelColors[i].backgroundColor}"
                        class="lineColorContainer">
                      </span>
                      {{ line.label }}: {{ line.value | addUnitToValue : line.unit : lang}}
                    </div>
                    <div *ngSwitchDefault>
                      <div *ngIf="isString(line); else no_match">
                        <span [ngStyle]="{ 'background-color' : tooltip.labelColors[i].backgroundColor}"
                          class="lineColorContainer">
                        </span>
                        {{line}}
                      </div>
                      <ng-template #no_match i18n="'No match' text | 'No Match' text in tooltip@@text_no_match_tooltip">
                        No match : error during tooltip processing
                      </ng-template>
                    </div>
                  </td>
                </tr>

                <tr *ngFor="let afterLine of dataset.after">
                  <td [ngSwitch]="afterLine.switchCase">
                    <div *ngSwitchCase="'Duration'">
                      <span i18n="'duration' text | 'duration' text in chart afterLabel tooltip@@text_duration_tooltip">
                        Duration
                      </span> : {{afterLine.duration | transformSeconds}}
                    </div>
                    <div *ngSwitchCase="'Protocol'">
                      <span i18n="'protocol' text | 'protocol' text in chart afterLabel tooltip@@text_protocol_tooltip">
                        Protocol
                      </span> : {{afterLine.protocol}}
                    </div>
                    <div *ngSwitchCase="'Port'">
                      <span i18n="'port' text | 'port' text in chart beforeLabel tooltip@@text_port_tooltip">
                        Port
                      </span> : {{afterLine.port}}
                    </div>
                    <div *ngSwitchDefault>
                      <div *ngIf="isString(afterLine); else no_match">{{afterLine}}</div>
                      <ng-template #no_match i18n="'No match' text | 'No Match' text in tooltip@@text_no_match_tooltip">
                        No match : error during tooltip processing
                      </ng-template>
                    </div>
                  </td>
                </tr>
              </tbody>

              <tfoot *ngFor="let footer of tooltip.footer">
                <tr>
                  <th [ngSwitch]="footer.switchCase">
                    <div *ngSwitchCase="'Volume'">
                      <span i18n="'volume' text | 'volume' text in chart footer tooltip@@text_volume_tooltip">
                        Volume
                      </span> : {{footer.value | addUnitToValue : footer.unit : lang}}
                    </div>
                    <div *ngSwitchDefault>
                      <div *ngIf="isString(footer); else no_match">{{footer}}</div>
                      <ng-template #no_match i18n="'No match' text | 'No Match' text in tooltip@@text_no_match_tooltip">
                        No match : error during tooltip processing
                      </ng-template>
                    </div>
                  </th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div class="graph_legend">
          <p *ngIf="this.graphs_records[query].m_legend.title as legend_title" style="margin: auto;">
            {{legend_title}} :
          </p>
          <ul style="flex-wrap: wrap; flex-direction: row; align-content: flex-start;">
            <li *ngFor="let legend of this.graphs_records[query].m_legend.legends"
              style="flex-direction: row; margin-right: 10px;" [ngStyle]="{ 'cursor' : legend.cursor}"
              (click)="switch_visibility_legend(legend, this.graphs_records[query]['m_chart'])">
              <span [ngStyle]="{ 'background': legend.fillStyle}"
                style="height: 20px; width: 20px; margin-right: 10px; display: inline-block;">
              </span>
              <p style="display: inline-block;" [ngStyle]="{ 'textDecoration': (legend.hidden &&
                legend.cursor==='pointer' ) ? 'line-through' : '' }">
                {{legend.text}}
              </p>
            </li>
          </ul>
        </div>
        <br />
        <br />
      </div>
    </div>
  </div>
</div>