.graph_container {
  margin: 1%;
}

input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
}

#datetime {
  width: 100%;
}
[class="0-legend"] {
  list-style: none;
  cursor: pointer;
  padding-left: 0;
}
[class="0-legend"] li {
  display: inline-block;
  padding: 0 5px;
}
[class="0-legend"] li.hidden {
  text-decoration: line-through;
}
[class="0-legend"] li span {
  border-radius: 5px;
  display: inline-block;
  height: 10px;
  margin-right: 10px;
  width: 10px;
}

.graph_legend ul {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.graph_legend ul>li {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.graph_legend ul>li>span {
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  width: 20px;
}

.graph_legend ul>li>p {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

.tooltip {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  color: white;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  font: 400 14px / 20px Ubuntu, sans-serif;
  transform: translate(-50%, 0px);
  transition: all 0.1s ease 0s;
  left: 0px;
  top: 0px;
  padding: 10px;
  display: inline-flex;
}

.lineColorContainer {
  border-color: white; 
  border-width: 2px; 
  border-style: solid;
  margin-right: 10px; 
  height: 10px; 
  width: 10px; 
  display: inline-block;
}